{% extends 'base.html' %}

{% block titulo %}
Tools
{% endblock %}

{% block content %}

<div class="m-10 flex flex-nowrap">
    <div class=" w-8/12">
        <div class="font-bold text-3xl py-4">Tools and Links</div>
        <ul>
            {% for ferramenta in ferramentas %}
                {% if ferramenta.ativo %}

                    <!-- Será passada a tag url para o href, e dentro dessa tag, o Django saberá qual procedimento acessar através do pk (primary key ou id) do procedimento -->
                    <div class="flex justify-between py-4">
                        <li class="py-2 text-2xl font-bold">{{ ferramenta.nome }} {{ ferramenta.versao }}</li>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                            <a class="hover:text-white" href="{{ ferramenta.arquivo.url }}" download="{{ ferramenta.arquivo.url }}">Download</a>
                        </button>
                    </div>
                    <div class="mb-6">
                        {{ ferramenta.descricao | safe | urlize | linebreaks }}
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="pl-48 mt-24 w-4/12">
        <ul>
            <li class="text-center text-white font-bold bg-blue-500 p-2 border-2">Links</li>
            {% for link in links %}
                <li class="border-b-2 border-r-2 border-l-2 p-1 text-sm"><a href="{{ link.endereco }}" target="_blank">{{ link.nome }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
    
{% endblock %}