<!-- O conteúdo é inserido dinamicamente na página através dos blocks. Em toda página html, deve-se puxar o extends do arquivo base.html -->

{% extends 'base.html' %}

{% block titulo %}
Logout
{% endblock %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class=" w-8/12 h-auto mb-48">
        <div class="font-bold text-center mb-4 text-3xl py-4">Successfully logged out</div>
        <a href="{% url 'procedimento:login' %}" class="flex justify-center"><button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log in again</button></a>
    </div>
</div>
    
{% endblock %}

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit itaque illo tenetur laudantium eveniet rerum accusamus, suscipit illum, aliquid consectetur quaerat. Dolor illum, eveniet eius delectus laudantium ex repellat esse?

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, voluptate suscipit veniam alias, ex quisquam eveniet impedit cum nulla, dolores modi officiis autem placeat. Eveniet necessitatibus sequi omnis dolorem corporis!

Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ipsa reprehenderit illum neque doloremque facere sint consectetur odio ratione ipsum, quasi libero deleniti itaque debitis eligendi adipisci rem repudiandae voluptas.